body {
  background-color: purple;
  color: black;
}

.grid-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.body-1 {
  grid-area: 1/1/2/6;
  background-color: yellow;
  border: solid goldenrod 12px;
  color: red;
  margin: 15px;
}

.body-2 {
  grid-area: 2/1/6/2;
}

.body-3 {
  grid-area: 2/5/6/6;
}

.body-4 {
  grid-area: 2/2/5/5;
  background-color: wheat;
  margin: 1%;
}

.body-5 {
  grid-area: 5/2/6/3;
}

.body-6 {
  grid-area: 5/3/6/4;
}

.body-7 {
  grid-area: 5/4/6/5;
}

.contentBox {
  background-color: gray;
  border: solid silver 3px;
  margin: 1%;
  padding: 5%;
  overflow:hidden;
}

.header {
  font-size: 150%;
  text-align: center;
  background-color: yellow;
  border: solid darkgoldenrod 3px;
  color: red;
  border-radius: 25px;
  margin: 2%;
  padding: 1%;
}

.category {
  text-align: center;
  font-size: 150%;
  color: black;
  font-weight: 500;
}

button {
  display: block;
  margin: auto;
  margin: 3%;
}

.section {
  background-color: azure;
  border: solid black 3px;
  padding: 5%;
  text-align: center;
}

select:hover {
  font-size: 125%;
}

.pricingBoard {
  background-color: white;
  border: solid black 3px;
  max-height: fit-content;
  min-height: 400px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 6%;
  text-align: center;
}

li {
  text-align: left;
  margin: 3% 0%;
  font-size: 125%;
  font-weight: 900;
}

.finePrint {
  font-size: 6px;
  border: solid whitesmoke 1px;
  max-height: 50px;
  min-height: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.orderReceipt {
  text-align: center;
  max-height: 700px;
  min-height: 700px;
  min-width: 300px;
  max-width: 300px;
  border: solid black 3px;
  margin: 3px;
  background-color: white;
}

.image {
  display: block;
  margin: auto;
  width: 70%;
}